.header { 
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
    
}
.logo {
    width: 100px;
  border: 1px solid blanchedalmond ;
}
.nav-items > ul {
    display: flex;
    font-size: 24px;
    list-style: none;
}

.nav-items > ul >li {
   padding: 10px;
margin: 10px;
}
.res-card {
    width:  200px;
    height: 300px;
    border:  1px; scroll-behavior: black;
}
.search{
padding:  10px;
}